mixin events(parameter)
	-var parameter = parameter || {};
	-var photoPoster = parameter.photoPoster || 'events';
	-var photoAlt = parameter.photoAlt || 'active events';
	-var photoTitle = parameter.photoTitle || 'SEO words';

	-var day = parameter.day || '24';
	-var month = parameter.month || 'Aug';

	-var title = parameter.title || 'This is the title';

	-
		var description = parameter.description || `
		Lorem ipsum dolor sit amet,
		consectetus adipiscing elit.`;

	-var buttonName = parameter.buttonName || 'Add to calendar';

	//- FIXME: check the path, when importing the block to other projects
	-var patch = parameter.patch || 'src/blocks/components/events/images/';

	//-

	.events
		.events__logo
			img.events__poster(
				src= patch + photoPoster + '.jpg',
				alt= photoAlt,
				title= photoTitle,
				width='258px',
				height='578px')

		.events__content
			.events__title
				p.events__title-day= day
					span.events__title-month= month
			.events__data
				p.events__data-title= title
			.events__description
				p.events__description-font= description
			.events__button-position
				form
				+buttons({
					extension: 'event',
					caption: buttonName})